################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Traq.Collections.UI/ClientApp/.angular/cache/13.3.10
/Traq.Collections.UI/ClientApp/.angular/cache/14.2.10
/.vs/slnx.sqlite
